{% extends "base.html" %}  {#用于渲染表单#}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - login{% endblock %}
{% block page_content %}
<div class = "page-header">
</div>
    <div class = "col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}



<input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >
<input type="submit" value="Login" >

type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"


<a href="gallery.html">








 <div id="topnav">
      <ul>
        <li class="last"><a href="gallery.html">Gallery Demo</a><span>Test Text Here</span></li>
        <li><a href="#">DropDown</a><span>Test Text Here</span>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li><a href="full-width.html">Full Width</a><span>Test Text Here</span></li>
        <li><a href="style-demo.html">Style Demo</a><span>Test Text Here</span></li>
        <li class="active"><a href="index.html">Homepage</a><span>Test Text Here</span></li>
      </ul>
    </div>{#有问题？？？？？？？？？？#}


    -khtml-opacity:0.7;


    <style>
    .zuocedaohang{






}
    .thefirstdaohang{
        color: black;
        background: black;
        width: 10%;
        height: 10%;
    }
    </style>